/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
  height: 100%;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .site-logo{
    width: 80px;
    line-height: 1;
  }

  ul{
    display: flex;
    gap: 40px;
  }

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual{
  width: 100%;
  height: 640px;
  object-fit: cover;
}

.main-visual img{
  border-radius: 2%;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section-title{
  border-bottom: 2px solid #000000;
  margin-bottom: 2px;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile-index{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profile-image{
  width: 150px;
  height: 150px; 
}

.profile-image img{
  border-radius: 50%;
}

.profile-data dl{
  display: flex;
  flex-wrap: wrap;
}

.profile-data dt{
  width: 10%;
}

.profile-data dd{
  width: 90%;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/

.articles-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 16px;
}

.article-item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-item a{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
.footer{
  font-size: small;
  text-align: center;
  padding: 40px 0px;
}